body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.DisplayQuote-previewQuote {
  width: 50%;
  text-align: left;
  line-height: 2.8rem;
}

.DisplayQuote-h1 {
  width: 100%;
  text-align: center;
  line-height: 5rem;
  color: #65e01a;
}

.DisplayQuote-text {
  width: 80%;
  line-height: 2.8rem;
  background-color: transparent;
  border-style: none;
  font-size: 1.8rem;
  color: #fff;
  height: 200px;
}
.DisplayQuote-previewQuote {
  align-self: center;
}

.DisplayQuote-container {
  display: flex;
  width: 100rem;
  flex-direction: column;
  align-content: center;
  font-size: 1.8rem;
}

#DisplayQuote-inputWord {
  margin-top: 4rem;
  align-self: center;
  height: 3rem;
  width: 50%;
  font-size: 1.8rem;
}

.DisplayQuote-word {
  margin-top: 4rem;
  margin-bottom: 5px;
}

.TypingSpeed-wpm {
  margin-top: 1rem;
}

span {
  position: relative;
}
.fu {
  position: absolute;
  background-color: red;
  color: #fff;
  margin-top: 50px;
  margin-left: -250px;
  font-size: 16px;
  line-height: 1.2rem;
}